<div class="row">
    <div class="image-container">
        <picture class="image-container__image">
            <img sizes="(max-width: 1080px) 100vw, 1080px" srcset="
                ./images/ambiance/{{image}}/190.jpg 190w,
                ./images/ambiance/{{image}}/560.jpg 560w,
                ./images/ambiance/{{image}}/810.jpg 810w,
               ./images/ambiance/{{image}}/1008.jpg 1008w,
               ./images/ambiance/{{image}}/1080.jpg 1080w"
               src="./images/ambiance/{{image}}/190.jpg" alt="">
            <div class="page-title">
                <div class="container grid-lg">
                    <div class="columns">
                        <div class="column col-12">
                            <h2 class="page-title__title">{{title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </picture>
    </div>
</div>