<div class="read-more-container {{if expanded 'expanded'}}">
    {{markdown-to-html content}}
</div>
{{#if expanded}}
    <a {{action 'toggle'}} class="read-more-less" role="button">Lees minder</a>
{{else}}
    <a {{action 'toggle'}} class="read-more-less" role="button">Lees meer</a>
{{/if}}
