{{hero-image
image="praktijk"
title="Praktijk"}}

<main class="container grid-lg">
    {{#each model as |praktijk|}}
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html praktijk.content1}}

            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                 <h3>Wachttijden</h3>
                <div class="actualisation-date">
                    <p>Datum laatste actualisatie: <span>{{auto-date}}</span></p>
                </div>

                {{markdown-to-html praktijk.content2}}

            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html praktijk.content3}}
            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html praktijk.content4}}

            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html praktijk.content5}}

            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html praktijk.content6}}

            </div>
        </div>
    {{/each}}
</main>